.quote-heading {
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-family: "Poppins", sans-serif, "arial";
  font-weight: 600;
  font-size: 72px;
  color: white;
  text-align: center;
}

.quote-heading2 {
  font-family: "Roboto", sans-serif, "arial";
  font-weight: 400;
  font-size: 20px;
  color: #9b9b9b;
  line-height: 1.5;
  text-align: center;
  padding-bottom: 1rem;
}

.quote {
  height: 1800px;
}
